<button (click)="goBack()" mat-button>go back</button>
<mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
<mat-grid-list cols="5" rowHeight="100px" *ngIf='task'>
  <mat-grid-tile      
      colspan='5'
      rawspan='0.3'   
      >      
      <mat-form-field class="full-width" appearance="outline" class='width100'>
        <mat-label>Name</mat-label>
        <textarea  
         cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="20"     
          matInput
          placeholder="Name of task" required 
          [(ngModel)]='name'           
        ></textarea>
        <mat-error>
            Name is required
          </mat-error>
      </mat-form-field>      
  </mat-grid-tile>
  <mat-grid-tile colspan='1'>
    <mat-form-field appearance="fill">
      <mat-label>Priority</mat-label>
      <select matNativeControl (change)="changeOrder($event)">          
        <option *ngFor="let order1 of orders" [value]="order1.name" [selected]='order'
        >{{ order1.name }}</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan='2' class="dateOfDeadline">
    <mat-form  [formGroup]="taskForm">
      <mat-form-field appearance="outline" class='width100' name='first'>
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]='dateOfDeadLine'
               (dateInput)="addEvent($event)" (dateChange)="addEvent($event)" formControlName="deadline" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </mat-form>
  </mat-grid-tile>
  <mat-grid-tile  class="dateOfDeadline"    
  colspan=2
  rowspan="1"
  >  
  <mat-form  [formGroup]="taskForm">
    <mat-form-field appearance="outline" class='width100'>
      <mat-label>Date of creation</mat-label>
      <input matInput [value]='task.dateOfCreate | date'>    
    </mat-form-field> 
  </mat-form> 
</mat-grid-tile>
  <mat-grid-tile  class="description"    
      colspan=5
      rowspan="2"
      >           
        <textarea  
         cdkTextareaAutosize
                            
                cdkAutosizeMaxRows="20"     
          matInput
          placeholder="Description of task" required 
          [(ngModel)]='description'           
        ></textarea>
           
  </mat-grid-tile>
  <mat-grid-tile  class="file"
  colspan=5
  rowspan="1">   
    
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let file of files"
               [removable]="removable" (removed)="remove(file)">
        {{file}}
        <mat-icon (click)='triggerDownload(file)'>download</mat-icon>       
        <mat-icon matChipRemove>cancel</mat-icon>              
      </mat-chip>
     
    </mat-chip-list>  
 </mat-grid-tile>
 </mat-grid-list>

 <div class="footer">
  <button mat-button (click)='saveChange()' class="save">Save</button>
<div>
  <input type="file" class="dn" #inputForFile name="image"  (change)='onFileUpload($event)'/>  
  <button mat-button (click)='triggerOfUpload()'>Upload file</button>
  <img [src]='imagePreview' *ngIf='imagePreview'/>
  <button mat-button type="submit" class="btn" (click)='submitOfUpload()'>Submit</button>
</div>
 </div> 
 


