<button mat-button (click)='addColumn()'>Add column</button>
<mat-progress-bar mode="indeterminate" *ngIf='loading'></mat-progress-bar>
<div cdkDropListGroup  *ngIf='!loading'> 
  <div class="example-container" *ngFor='let column of columns'
  (click)='setPriority(column)'>
    <div class="headerOfBox">
      <h2>{{column.priority.name}}</h2>
      <mat-form-field appearance="fill">
        <mat-label>Sort by</mat-label>
        <select matNativeControl (change)="changeSort($event, column)">          
          <option *ngFor="let option of column.orders" [value]="option"
                  [selected]="selectedOrder === option">{{ option }}</option>
        </select>
      </mat-form-field>
      <label [matMenuTriggerFor]="menu2" class="material-icons">more_vert</label>
      <mat-menu #menu2="matMenu">      
      <button mat-menu-item (click)='confirmOfdeleteColumn(column.priority._id)'>Delete</button>
      </mat-menu>   
    </div>  
    <div   
    cdkDropList
    [cdkDropListData]="column.array"
    class="example-list"
    [id]='column.priority.name'    
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of column.array" cdkDrag routerLink = "{{item._id}}">      
    <div>{{item.name}}</div>
    <div>{{item.dateDeadline | date}}</div>
    <div>{{item.order}}</div>      
    <label [matMenuTriggerFor]="menu" class="material-icons" (click)='$event.stopPropagation()'>more_vert</label>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink = "{{item._id}}">Edit</button>
    <button mat-menu-item (click)='setPriority(column); confirmOfdelete(item)'>Delete</button>
    </mat-menu>    
    </div>
    </div>
    <button mat-button (click)='column.showTask = !column.showTask; setPriority(column); getLastOrder()'>Add task</button>  
    <form class="form" action="" [ngClass]="{showTaskClass: column.showTask}">
     <app-newtask [lastOrder]='lastOrder'
     (onSave)="save($event); column.showTask = !column.showTask"
    ></app-newtask> 
    </form>
  </div>      
</div> 
  
  
