<div class="container">
<div class="row">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input      
        matInput
        placeholder="Name of task" 
        [(ngModel)]='name'           
      />
      <mat-error>
          Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline" class='order'>
      <mat-label>Order</mat-label>
      <input      
        matInput
        placeholder="Order of task"
        [(ngModel)]='order'           
      />
      <mat-error>
          Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="deadline">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]='dateDeadline'
             (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>  
  </div>
  <div>
    <mat-form-field class="full-width" appearance="outline" class="description">
      <mat-label>Description</mat-label>
      <textarea 
        cols="100"      
        matInput
        placeholder="Description"
        [(ngModel)]='description'           
      ></textarea>
      <mat-error>
          Description is required
        </mat-error>
    </mat-form-field>
  </div>
  <button mat-button (click)='save()'>Save</button>
  <button mat-button (click)='setLastOrder()'>set last order</button>
</div>