<mat-card>
    <mat-card-content>
      <div class="header">
        <P>Restore of password</P>
      </div>
      <form (ngSubmit)="restore($event)" name="restoreForm" [formGroup]="restoreForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input             
              matInput
              placeholder="Enter email" required
              formControlName="email" 
              [(ngModel)]='email'           
            />
            <mat-error *ngIf="!restoreForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>       
        <button mat-flat-button color="primary">Send new password</button>
      </form>      
    </mat-card-content>
  </mat-card>
